.smile {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
  border: .2rem solid $color-font;
  box-shadow: 1em 1em 0 $color-font;
  &:hover {
    animation: heartbeat 2s linear infinite;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    box-shadow: 1em 1em 0 $color-font;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    box-shadow: 0.91em 0.91em 0 $color-font;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    box-shadow: 0.98em 0.98em 0 $color-font;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    box-shadow: 0.87em 0.87em 0 $color-font;
    animation-timing-function: ease-in;
  }
  45%, 100% {
    transform: scale(1);
    box-shadow: 1em 1em 0 $color-font;
    animation-timing-function: ease-out;
  }
}
