{%
    set data = {
        slug: "about",
        title: "This is about"
    }
%}

{% extends "layouts/main.njk" %}

{% block content %}
    <p>see on <a href="https://github.com/flockast/boilerplate-smile">github</a></p>
{% endblock %}
