{%
    set data = {
        slug: "home",
        title: "Hello, smile"
    }
%}

{% extends "layouts/main.njk" %}

{% block content %}
    <p>pure frontend boilerplate smile ©flockast</p>
{% endblock %}
