<nav class="nav">
    <ul class="nav__list">
        <li><a href="/" class="{% if data.slug == "home" %}is-active{% endif %}">home</a></li>
        <li><a href="/about" class="{% if data.slug == "about" %}is-active{% endif %}">about</a></li>
    </ul>
</nav>