.container { @include wrapper(); }

.grid { @include row-flex(); }

.cell { @include col(); }

@for $i from 0 to $columns {
  .cell--#{$i + 1} { @include size($i + 1); }
}

@for $i from 0 to $columns {
  .cell--xs-#{$i + 1} { @include size-xs($i + 1); }
}

@for $i from 0 to $columns {
  .cell--sm-#{$i + 1} { @include size-sm($i + 1); }
}

@for $i from 0 to $columns {
  .cell--md-#{$i + 1} { @include size-md($i + 1); }
}

@for $i from 0 to $columns {
  .cell--lg-#{$i} { @include size-lg($i); }
}

.d-flex { display: flex; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.align-center { align-items: center; }

.only-desktop {
  display: none !important;
  @include md-block() {
    display: block !important;
  }
}

.only-mobile {
  display: block;
  @include md-block() {
    display: none !important;
  }
}

.no-scroll {
  overflow: hidden;
}